<!doctype html>
<html>

<head>
    <title>ICA Prototype - Video Master</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/ica_icon_circle.png" sizes="192x192">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/ica.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Intelligent Calisthenics Assistant (ICA)</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="active"><a href="/record">Record</a></li>
                    <li><a href="/member">Member</a></li>
                    <li><a href="/push_up">Push Up</a></li>
                    <li><a href="/sit_up">Sit Up</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session['sessID'] %}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    {% else %}
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="/member">Project Team Members</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <h1>Record Your Data</h1>



                <h3>Why Record Your Data?</h3>
                <p>In case your data is not recorded in the database, this is where you can add your data here!</p>

                <p>For Push Ups, Sit Ups, Squats with Ball</p>
                <form method="POST" action="/insert" enctype="multipart/form-data">
                    Bad Count: <input type="number" name="badcount" required>
                    Total Count: <input type="number" name="excount" required>
                    Good Count:<input type="number" name="goodcount" required>
                    Image: <input type="file" name="file">
                    <select name="exercise">
                        <option value="Push Ups">Push Ups</option>
                        <option value="Sit Ups">Sit Ups</option>
                        <option value="Squats with Ball">Squats with Ball</option>
                    </select>
                    <input type="submit" value="Record">
                </form>
                
                <p>For Standing Broad Jump</p>
                <form method="POST" action="/insert">
                    Total Distance: <input type="number" name="totalDist" required>
                    <input type="hidden" name="exercise" value="Standing Broad Jump">
                    <input type="submit" value="Record">
                </form>
                
                <p>For Grip Strength</p>
                <form method="POST" action="/insert">
                    Weight: <input type="number" name="weight" required>
                    <input type="hidden" name="exercise" value="Grip Strength">
                    <input type="submit" value="Record">
                </form>

                <p>For 2.4Km Run</p>
                <form method="POST" action="/insert">  
                    Duration in seconds: <input type="number" name="duration" required>
                    <input type="hidden" name="exercise" value="2.4km run">
                    <input type="submit" value="Record">
                </form>

            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>Interested in this AD space? Contact .....</p>
                </div>
                <div class="well">
                    <p>Interested in this AD space? Contact .....</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Republic Polytechnic IGO Project</p>
    </footer>

</body>

</html>