<!DOCTYPE HTML>
<html>

<body>

<p>Before the script...</p>

<script>
let a = [1, 2, 3, 4, 9, 6, 4, 8, 3, 5, 7, 2, 54, 5, 3];
let b = [
            [1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1],
            [1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1],
            [1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1],
            [1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1],
            [1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1]
            /* -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000],
            [-1000000000000000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000],
            [-10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000],
            [-10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000, -10000000000000, -10000, -10000, -10000, -10000, -10000] */
        ];

alert ("Cosine Similarity Test1 " + avgCosineSim(a, b));

function cosineSim(A, B) {
    let dotProduct = 0, mA = 0, mB = 0;
    for (let i = 0; i < A.length; i++) {
        dotProduct += (A[i] * B[i]);
        mA += (A[i]*A[i]);
        mB += (B[i]*B[i]);
    }
    mA = Math.sqrt(mA);
    mB = Math.sqrt(mB);
    return (dotProduct)/((mA)*(mB));
}

function avgCosineSim(A, B) {
    let totalCosSim = 0;
    alert (B.length);
    for (let i = 0; i < B.length; i++) {
      totalCosSim += cosineSim(A, B[i]);
      alert("ave " + totalCosSim);
    }
    alert("final ave " +  totalCosSim);
    return (totalCosSim/B.length);
}
</script>

  <p>...After the script.</p>

</body>

</html>